:root {
    
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
}

img.hero {
    width: 100%;
    object-fit: cover;
    height: 285px;
    position: relative;
    bottom: 0px;
}
img {
    width: 100%;
    object-fit: cover;
    height: 285px;
}
h1 {
    position: relative;
    margin: -4px;
    padding: 0px;
    font-size: 96px;
    bottom: -2px;
    background: rgba(176, 139, 115, 0.5);
}
.intro {
    display: flex;
    margin: 45px;
    position: relative;
    padding: 37px;
    border: 4px dashed black;
    width: 950px;
    font-size: 23px;
    line-height: 2;
    float: right;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: black;
}
li {
    float:left;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
li a:hover {
    background-color: black;
}